<%- include('common/header', {
    title: '用户详情页'
}) %>

<div>
    user page
    <p>用户名：<%= userInfo.username %></p>
    <p>真实姓名：<%= userInfo.realname %></p>
</div>

<%- include('common/footer') %>